* {
    font-family: barlow, sans-serif;
	}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 70px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 24px;
}

.nav-link {
    list-style: none;
    display: flex;
	font-size: 19px;
    font-weight: 500;
    font-family: sans-serif;

}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    gap: 8px;
    list-style: none;
}

.nav-link li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.line1, .line2, .line3 {
    width: 20px;
    height: 3px;
    background-color: black;
    margin: 3px;
    transition: all 0.3s ease;
}

.selectedmenu .nav-link{
		  background: 
    linear-gradient(to right, #C44200, orange),
    linear-gradient(to right, #C44200, orange, blue);
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
  background-size: 0 0.1em, 100% 0.1em;
  color:#C44200 !important;
}
.sticky-top {
    z-index: 1030; /* Bootstrap's default z-index for sticky elements */
}

/*gap between logo and menu*/
.MenuGap
{
	width:600px;
}

/*css for upper header*/

.UpperHeader
{
background:#C44200;
height:45px;
padding:0px 70px;
}

/* Media query for mobile */
@media screen and (max-width: 991px) {
    .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 58px;
    left: -100%; /* Initially off-screen to the left */
    width:50%;
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.5s ease-in-out; /* Add transition */
}

.nav-links.active {
    left: 0; /* Slide into view */
}

    .burger {
        display: flex;
    }

    .line1.rotate-down {
        transform: translateY(8px) rotate(-45deg);
    }

    .line2.fade-out {
        opacity: 0;
    }

    .line3.rotate-up {
        transform: translateY(-8px) rotate(45deg);
    }
}

/*css for footer image of destination*/

.FooterContainer {
  position: relative;
}

.FooterImage {
  display: block;
  height: auto;
  
}

.FooterOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color:#0009;
  cursor:pointer;
}



.FooterText {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*css for header*/

@media(max-width:670PX)
{
.MenuDiv
{
display:none;
}

}

/*Css for foter link*/

.Footerlink
{
text-decoration:none;
color:white;
}
.Footerlink:hover
{
color:white;
}

/*css for Car Card*/

.CarCard
{
	width:100%;
	border:none;
	background-color:#FFFDE6;
}

/*css for Cab page cab Card*/

.CabCard
{
	width:100%;
	border:none;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	margin-top:30px;
}

/*css for Visit Card on Langing Page*/

.VisitCard
{
	width:100%;
	border:none;
	background-color:;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/*css for tour page image */
.VisitCard img
{
	height:300px;
	width:100%;
}

/*css for tour page anchor tag */
.VisitCard a
{
	text-decoration:none;
	color:black;
	cursor:pointer;
}
/*css for related tour anchor link*/
.RelatedTourLink
{
text-decoration:none;
color:grey;
}

/*css for disappear the hotel booking image*/
@media(max-width:769px)
{
.HotelBookDiv
{
display:none;	
}
}
/*css for hotel booking button*/

.BtnHotelBook
{
background-color:#F2A717;
color:white;
}

/*css for cab btn*/
   
   .CabBtn { 
	   display: flex;
  align-items: center;
  justify-content: center;
  
}

.BtnContent {
  border: 0;
  border-radius: 10px;
  background: #F2A717;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  outline: none;
  position: relative;
  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
}

.BtnContent:hover {
   border-bottom-right-radius: 50px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   cursor:pointer;
}

   .LeftCabBtn { 
	   display: flex;
  
}

.LeftBtnContent {
  border: 0;
  border-radius: 10px;
  background: #F2A717;
  text-transform: uppercase;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 30px;
  outline: none;
  position: relative;
  transition: border-radius 3s;
  -webkit-transition: border-radius 3s;
}

.LeftBtnContent:hover {
   border-bottom-right-radius: 50px;
   border-top-left-radius: 50px;
   border-bottom-left-radius: 10px;
   border-top-right-radius: 10px;
   cursor:pointer;
}

/***css for scroll to top**/
 
  #myScrollToTopBtn {
  display: none;  /*Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: #F2A717; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  border-radius:50%;
  font-size:20px;
 box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/*CSS for preloader*/
#preloader
{
background:white url(Images/preloaderimg.gif) no-repeat center center;
background-size:10%;
height:100vh;
width:100%;
position:fixed;
z-index:100;
}
 /*css for logo img*/
 .LogoImg
 {
  height:80px;
  width:250px;
 }
 /*css for  Index About Image*/
 
 .IndexAboutImage
 {
 margin-top:540px;
 }
 
/*scss for carousel*/

@import url('https://fonts.googleapis.com/css?family=Heebo:800');


.parent {
	width: 100%;
	height: 500px;
	margin: auto auto;
	overflow: hidden;
	position: absolute;
}

svg {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 500px;
}

.left,.right {
	position: absolute;
	z-index: 50;
	width: 40px;
	overflow: hidden;
	height: 40px;
	border: none;
	border-radius: 50%;
	background: #fff;
	cursor: pointer;
	-webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
	box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}

.left,.right:focus {
	outline-width: 0;
}

circle {
	stroke: #fff;
	fill: none;
	transition: 0.3s;
}

#svg1 circle {
	transition-timing-function: linear;
}

#svg2 circle {
	transition-timing-function: linear;
}

#Capa_1 {
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translate(-7px, -8px);
}

#Capa_2 {
	position: absolute;
	width: 16px;
	height: 16px;
	transform: translate(-9px, -8px);
}

.right {
	margin-left: 22%;
	margin-top: 230px;
	border: 1px solid #849494;
	background-color: transparent;
	transition: .5s;
}

.right:hover {
	background-color: #fff;
}

.left {
	margin-left: 2%;
	margin-top: 230px;
	border: 1px solid #849494;
	background-color: transparent;
	transition: .5s;
}

.left:hover {
	background-color: #fff;
}

.circle1 {
	transition-delay: 0.05s;
}

.circle2 {
	transition-delay: 0.1s;
}

.circle3 {
	transition-delay: 0.15s;
}

.circle4 {
	transition-delay: 0.2s;
}

.circle5 {
	transition-delay: 0.25s;
}

.circle6 {
	transition-delay: 0.3s;
}

.circle7 {
	transition-delay: 0.35s;
}

.circle8 {
	transition-delay: 0.4s;
}

.circle9 {
	transition-delay: 0.45s;
}

.circle10 {
	transition-delay: 0.05s;
}

.circle11 {
	transition-delay: 0.1s;
}

.circle12 {
	transition-delay: 0.15s;
}

.circle13 {
	transition-delay: 0.2s;
}

.circle14 {
	transition-delay: 0.25s;
}

.circle15 {
	transition-delay: 0.3s;
}

.circle16 {
	transition-delay: 0.35s;
}

.circle17 {
	transition-delay: 0.4s;
}

.circle18 {
	transition-delay: 0.45s;
}

.slide1 {
	background-image: url('Images/Slider1.jpg');
	width:100%;
}

.slide2 {
	background-image: url('Images/Slider2.jpg');
}

.slide3 {
	background-image: url('Images/Slider3.jpg');
}

.slide4 {
	background-image: url('Images/Slider4.jpg');
}
.slider {
	position: absolute;
	width: 400%;
	height: 100%;
	background: #000;
	display: inline-flex;
	overflow: hidden;
}

.slide1,
.slide2,
.slide3,
.slide4 {
	position: absolute;
	background-position: center;
	background-size: cover;
	color: #fff;
	font-size: 62px;
	padding-top: 138px;
	font-weight: 800;
	font-family: 'Heebo', sans-serif;
	text-align: center;
	width: 25%;
	height: 100%;
	z-index: 10;
	transition: 1.4s;
}

.tran {
	transform: scale(1.3);
}

.up1 {
	z-index: 20;
}

.up2 {
	z-index: 40;
}

.steap {
	stroke-width: 0;
}

.streak {
	stroke-width: 82px;
}

@media (max-width: 750px) {
	.parent {
	width: 100%;
	height: 400px;
}
.right,.left
{
margin-top:190px;	
}
 .IndexAboutImage
 {
 margin-top:450px;
 }
}
@media (max-width: 600px) {
	.parent {
	width: 100%;
	height: 350px;
}
.right,.left
{
margin-top:160px;	
}
 .IndexAboutImage
 {
 margin-top:340px;
 }
}
@media (max-width: 540px) {
	.parent {
	width: 100%;
	height: 300px;
}
.right,.left
{
margin-top:130px;	
}
}
@media (max-width: 430px) {
	.parent {
	width: 100%;
	height: 250px;
}
.right,.left
{
margin-top:110px;	
}
 .IndexAboutImage
 {
 margin-top:250px;
 }

.right
{
margin-left: 20%;	
}
}

@media (max-width: 991px) {
	 .navbar {
		 padding: 10px 50px;
}
.UpperHeader
{
padding: 0px 50px;	
}
}
@media (max-width: 588px) {
	 .navbar {
		 padding: 10px 30px;
}
.UpperHeader
{
padding: 0px 30px;	
}
}
@media (max-width: 430px) {
	 .navbar {
		 padding: 10px 7px;
}
.UpperHeader
{
padding: 0px 7px;	
}
}